@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  font-family: "Poppins", sans-serif, monospace;
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
}

.monospace-fonts {
  font-family: Lucida Console, Consolas, Monaco, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 20px;
}

.container {
  height: 100%;
  background-color: #21222a;
  /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  border-radius: 5px;
}

.header-container {
  margin-top: 0;
  padding-top: 30px;
  background-color: #21222a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  /* background-color: darkslategray; */
  /* border: 1px solid red; */
  /* font-family: Inter, sans-serif; */
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
}

.contract {
  display: flex;
  justify-content: space-between;
}

#contractAddress {
    width: 400px;
    border-radius: 5px;
}


.labels {
  color: whitesmoke;
  font-weight: 300;
  width: 400px;
  /* border: 1px solid red; */
  display: inline-block;
}

.inputs {
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

.btn {
  background-color: lightskyblue;
  font-weight: bold;
  border: 1px solid red;
}

.isAdmin {
  display: flex;
  justify-content: start;
  /* justify-items: end; */
  align-content: flex-end;
  margin-top: 30px;
  /* padding: 10px;
    margin: 10px; */
  /* border: 1px solid red; */
}

.isAdminTextBoxes {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  /* margin: 10px; */
  /* padding: 10px; */
  /* border: 1px solid red; */
}

.check_isAdmin_Btn {
    display: flex;
    text-align: center;
    box-shadow: 0 1px 2px #5e5d5b;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    /* padding: 40px; */
    /* border: 1px solid red; */
  }

  .verify {
    display: flex;
    justify-content: start;
    /* justify-items: end; */
    align-content: flex-end;
    margin-top: 30px;
    /* padding: 10px;
      margin: 10px; */
    /* border: 1px solid red; */
  }

.verifyTextBoxes {
    display: flex;
    flex-direction: column;
  
    margin-top: 10px;
    /* margin: 10px; */
    /* padding: 10px; */
    /* border: 1px solid red; */
}

.verify_Btn {
  display: flex;
  text-align: center;
  box-shadow: 0 1px 2px #5e5d5b;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 5px;
  /* padding: 40px; */
  /* border: 1px solid red; */
}


.scratchpad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  /* padding: 10px; */
  height: 400px;
  /* border: 1px solid green; */
}

#scratchpad {
  margin: 20;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
}
